.meme-generator {
  margin: 20px auto;
  width: 400px;
  font-family: sans-serif;
}

.meme-generator label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.meme-generator input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#meme {
  width: 100%;
}

body {
  background-color: #1D2326;
  color: #BFA38A;
  font-family: monospace;
}

button {
  width: 200px;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 35px;
  border: 1px solid #BFA38A;
  background: transparent;
  color: #BFA38A;
  border-radius: 5px;
}